Django==4.0.5
psycopg2-binary==2.9.3
Pillow==9.1.1
python-decouple==3.6
uuid==1.30
django-axes==5.35.0
django-health-check==3.16.5
django-http-referrer-policy==1.1.1
django_stubs_ext==0.5
django-split-settings==1.1
django-querycount==0.7
django-debug-toolbar==3.4
nplusone==1
django_migration_linter==4.1.0
django_test_migrations==1.2
django-extra-checks==0.11
flake8==4.0.1
black==22.3.0
isort==5.10.1
pre-commit==2.19
django-cleanup==6
pytest-django==4.5.2
gunicorn==20.1.0
dj-database-url==0.5.0
celery==5.2.7
pytest==7.1.2
django-celery-results==2.3.1
wordcloud==1.8.1
pymorphy2==0.9.1
Redis==4.3.3
