<footer class="footer py-6 bg-gray-800 text-white mt-auto">
    <div class="container">
        <div class="row">
            <div class="col mb-md-0">
                <p class="d-flex justify-content-center">
                    <a href="/"><img src="{{ ASSETS_ROOT }}/img/chatalyze-logo-alt.png" height="35" class="mb-4" alt="Chatalyze Logo"></a>
                </p>
                <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                    <p class="fw-normal font-small mb-0">
                        &copy; Chatalyze <span class="current-year">2022</span> - coded by <a target="_blank" href="https://github.com/air17">Biulent Ozdzhan</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
