# === General ===

DOMAIN_NAME=localhost

# === Django ===
# Generate yours with:
# python3 -c 'from django.utils.crypto import get_random_string; print(get_random_string(50))'

DJANGO_SECRET_KEY=__CHANGEME__

# === Database ===

POSTGRES_DB=test
POSTGRES_USER=test
POSTGRES_PASSWORD=test

DJANGO_DATABASE_HOST=localhost
DJANGO_DATABASE_PORT=5432
