{% extends "layouts/base-fullscreen.html" %}
{% load i18n %}

{% block title %} {% translate "Sign in" %} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        <section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center form-bg-image" data-background-lg="{{ ASSETS_ROOT }}/img/illustrations/signin.svg">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="mb-0 h3">
                                    Chatalyze - {% translate "Sign in" %}
                                </h1>
                                <br />
                                <div>
                                    {% if msg %}
                                        <div class="alert-warning">
                                            {{ msg | safe }}
                                        </div>
                                    {% else %}
                                        {% translate "Add your credentials" %}
                                    {% endif %}
                                </div>
                            </div>
                            <form method="post" action="" class="mt-4">

                                {% csrf_token %}

                                <!-- Form -->
                                <div class="form-group mb-4">
                                    <label for="email">{% translate "Username" %}</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1">
                                            <span class="fas fa-user-circle"></span>
                                        </span>
                                        {{ form.username }}
                                    </div>
                                </div>
                                <!-- End of Form -->
                                <div class="form-group">
                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        <label for="password">{% translate "Your Password" %}</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon2">
                                                <span class="fas fa-unlock-alt"></span>
                                            </span>
                                            {{ form.password }}
                                        </div>
                                    </div>
                                    <!-- End of Form -->
                                </div>
                                <div class="d-grid">
                                    <button type="submit" name="login" class="btn btn-gray-800">{% translate "Sign in" %}</button>
                                </div>
                            </form>

                            <br />
                            <div class="d-grid">
                                <a href="{% url "register-guest" %}" role="button" class="btn btn-outline-gray-800">
                                    {% translate "Continue as a guest" %}
                                </a>
                            </div>
                            <br />

                            <div class="d-flex justify-content-center align-items-center mt-4">
                                <span class="fw-normal">
                                    {% translate "Not registered?" %}
                                    <a href="{% url 'register' %}" class="fw-bold">{% translate "Create account" %}</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
