{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Primary Meta Tags -->

<title>
    {% block title %}{% endblock %} | Chatalyze
</title>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="theme-color" content="#1F2937">
<meta name="title" content="Chatalyze">
<meta name="author" content="Biulent Ozdzhan">
<meta name="description" content="{% translate "Analyse your chats with data science" %}">
<meta name="keywords" content="chat, chat analysis" />

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="120x120" href="{{ ASSETS_ROOT }}/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ ASSETS_ROOT }}/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ ASSETS_ROOT }}/img/favicon/favicon-16x16.png">
<link rel="manifest" href="{{ ASSETS_ROOT }}/img/favicon/site.webmanifest">
<link rel="mask-icon" href="{{ ASSETS_ROOT }}/img/favicon/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

<!-- FA Icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- Sweet Alert -->
<link type="text/css" href="{{ ASSETS_ROOT }}/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">

<!-- Notyf -->
<link type="text/css" href="{{ ASSETS_ROOT }}/vendor/notyf/notyf.min.css" rel="stylesheet">

<!-- Volt CSS -->
<link type="text/css" href="{{ ASSETS_ROOT }}/css/volt.css" rel="stylesheet">

<!-- Specific Page JS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

</head>
<body>

    {% include 'includes/sidebar.html' %}

    <div class="d-flex flex-column min-vh-100">

        <main class="content mb-4">

          {% include 'includes/navigation.html' %}

          {% block content %}{% endblock content %}

        </main>

        {% include 'includes/footer.html' %}

    </div>

  {% include 'includes/scripts.html' %}

  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}{% endblock javascripts %}

</body>
</html>
