{% extends "layouts/base.html" %}
{% load i18n %}

{% block title %} {% translate "Profile settings" %} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="modal fade" id="deleteProfile" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{% translate "Delete profile" %}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {% translate "Do you really want to delete your profile and all the data?" %}
          </div>
          <div class="modal-footer">
              <form action="{% url "delete-profile" %}" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="sure" value="yes">
                <button type="submit" class="btn btn-outline-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                      <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                    </svg>
                    {% translate "Yes, delete profile" %}
                </button>
              </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-12 col-xl-8">
            <div class="card card-body border-0 shadow mb-4">
                <h2 class="h5 mb-4">{% translate "Profile settings" %}</h2>
                <form method="post">
                    <div class="text-danger">{{ form.errors }}</div>
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="profile">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div>
                                <label for="username">{% translate "Username" %}</label>
                                {{ form.username }}
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="email">{% translate "Email" %}</label>
                                {{ form.email }}
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-md-6 mb-3">
                            <label for="lang">{% translate "Language" %}</label>
                            {{ form.language }}
                        </div>
                    </div>
                    <div class="mt-3">
                        <button class="btn btn-gray-800 mt-2 animate-up-2" type="submit">{% translate "Save all" %}</button>
                    </div>
                </form>
            </div>
            <div class="card card-body border-0 shadow mb-4">
                <h2 class="h5 mb-4">{% translate "Change password" %}</h2>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="password">
                    <div class="text-danger">{{ password_form.errors }}</div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="password1">{{ password_form.password1.label }}</label>
                                {{ password_form.password1 }}
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="password2">{{ password_form.password2.label }}</label>
                                {{ password_form.password2 }}
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <button class="btn btn-gray-800 mt-2 animate-up-2" type="submit">{% translate "Save" %}</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-12 col-xl-4">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="card shadow border-0 text-center p-0">
                        <div class="card-body pb-5">
                            <h4 class="h3">
                                {{ request.user.username }}
                            </h4>
                            <p class="text-gray mb-4">
                                {{ request.user.email }}
                            </p>
                            <a class="btn btn-sm btn-danger mx-1" href="#" data-bs-toggle="modal" data-bs-target="#deleteProfile">{% translate "Delete profile" %}</a>
                            <a class="btn btn-sm btn-primary mx-1" href="{% url "logout" %}">{% translate "Logout" %}</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
